//*VARIABLES*//
$colorPrincipal: rgb(96, 131, 247);
$colorSecundario: black;

//*MIXINS*//
@mixin formatoBordes {
    border: solid 1px $colorPrincipal;
    border-radius: 30px;
}

@mixin formatoTitulos {
    text-align: center;
    text-decoration: underline $colorSecundario ;
}

@mixin formatoTextos {
    text-align: justify;
}